<div class="alert modal">
    <dov class="modal-inner">
        <div class="modal-header">
            <span>Alert</span>
            <a class="close">X</a>
        </div>
        <div class="modal-body">
            <div class="content">
                {{content}}
            </div>
        </div>
    </dov>
</div>
