<div class="view">
    <input type="checkbox" class="toggle" {{#if done}}checked="checked"{{/if}} />

    <label>{{title}}</label>
    <a class="destroy"><img src="img/icons/delete.png"/></a>
</div>
<input class="edit"  type="text" value="{{title}}">
