<div class="view">
    <input type="checkbox" class="toggle" value="done" />

    <label>{{title}}</label>
    <button class="destroy"><img src="img/icons/delete.png"/></button>
</div>
<input class="edit" value="{{title}}">
